.section {
    background-color: aquamarine;
    border-radius: 10px;
    color: black;
    height: 155px;
}

.red {
    text-align: center;
    padding: 5px;
    font-size: 20px;
}

.default {
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
}

input {
    width: 80px;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
    text-align: center;
}

.red input {
    background-color: deeppink;
}