.App {
display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: darkslategray;
}

.componentContainer{
  border: 1px solid aquamarine;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  width: 240px;
}

.componentContainer div {
  padding-bottom: 10px;
}